@tailwind base;
@tailwind components;
@tailwind utilities;

.bistro_box{
    background-image: linear-gradient(rgba(0,0,0,0.2),rgba(0,0,0,0.2)), url('../src/assets/home/chef-service.jpg');
    background-repeat: no-repeat;
    background-position: center;
}
.featured_item{
    background-image: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)),url('../src/assets/home/featured.jpg');
    background-position: center;
}